body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  font-weight: 400;
  background-color: var(--primary-background-color);
}
h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.section {
  padding: 72px 0;
}

@media only screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding: 128px 0;
  }
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.reviews-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
  margin-bottom: 32px;
}
.reviews-title-part {
  color: #111111;
}
@media only screen and (min-width: 768px) {
  .reviews-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.reviewer-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111111;
  margin-bottom: 24px;
}
.reviews-wrap {
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  padding: 56px 18px 42px;
}
.reviews-comment {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-holder {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 1200px) {
  .reviews-holder {
    gap: 28px;
  }
}
